.footer {
  padding: 2.4rem;

  display: flex;
  gap: 4.8rem;

  width: 95%;
  margin: auto;

  background-color: var(--color--main);
}
.footer .footer--logoBox {
  width: 20%;
}
.footer .footer--logo {
  width: 100%;
}
.footer .footer--content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 30%;
  color: var(--color--secondary_1);
}
