.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3.2rem;
}

.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
