.m-8 {
  margin: 0.8rem;
}
.m-16 {
  margin: 1.6rem;
}
.m-24 {
  margin: 2.4rem;
}
.m-32 {
  margin: 3.2rem;
}
.m-48 {
  margin: 4.8rem;
}
.m-64 {
  margin: 6.4rem;
}
.mt-8 {
  margin-top: 0.8rem;
}
.mt-16 {
  margin-top: 1.6rem;
}
.mt-24 {
  margin-top: 2.4rem;
}
.mt-32 {
  margin-top: 3.2rem;
}
.mt-48 {
  margin-top: 4.8rem;
}
.mt-64 {
  margin-top: 6.4rem;
}
.mb-8 {
  margin-bottom: 0.8rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
.mb-64 {
  margin-bottom: 6.4rem;
}
.p-8 {
  margin: 0.8rem;
}
.p-16 {
  padding: 1.6rem;
}
.p-24 {
  padding: 2.4rem;
}
.p-32 {
  padding: 3.2rem;
}
.p-48 {
  padding: 4.8rem;
}
.p-64 {
  padding: 6.4rem;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.text-center {
  text-align: center;
}
