<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../css/button.css" />
  </head>
  <body>
    <div class="buttons buttons_doc">
      <button class="btn">Button thường</button>
      <button class="btn btn_small">Button thường nhỏ</button>
      <button class="btn btn--primary">Button primary</button>
      <button class="btn btn--secondary">Button secondary</button>
      <button class="btn btn--third">Button third</button>
    </div>
    <div class="buttons">
      <button class="btn">Button thường</button>
      <button class="btn btn_small">Button thường nhỏ</button>
      <button class="btn btn--primary">Button primary</button>
      <button class="btn btn_small btn--primary">Button primary</button>
      <button class="btn btn--secondary">Button secondary</button>
      <button class="btn btn_small btn--secondary">Button secondary</button>
      <button class="btn btn--third">Button third</button>
      <button class="btn btn_small btn--third">Button third</button>
    </div>
  </body>
</html>
