<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form element</title>
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/typography.css" />
    <link rel="stylesheet" href="../css/spacing.css" />
  </head>
  <body>
    <div class="container">
      <form class="m-64">
        <h3 class="heading heading--3">Input element</h3>
        <div class="inputFields">
          <div class="inputField reverse inputField_doc">
            <input
              type="text"
              class="input invalid text--body text--body_16"
              id="input"
              name="input"
              placeholder="Enter something into me"
            />
            <label for="input" class="text--label text--label_16">Input</label>
          </div>
          <div class="inputField reverse inputField_doc">
            <input
              type="text"
              class="input text--body text--body_16"
              id="input"
              name="input"
              placeholder="Enter something into me"
            />
            <label for="input" class="text--label text--label_16">Input</label>
          </div>
          <div class="inputField reverse inputField_doc">
            <input
              type="email"
              class="input text--body text--body_16"
              id="email"
              name="email"
              placeholder="Email"
            />
            <label for="input" class="text--label text--label_16_bold"
              >Email</label
            >
          </div>
          <div class="inputField">
            <label for="input" class="text--label text--label_16"
              >Input Ngang
            </label>
            <input
              type="text"
              class="input text--body text--body_16"
              id="input"
              name="input"
              placeholder="Enter something into me"
            />
          </div>

          <div class="inputField">
            <label for="input" class="text--label text--label_16"
              >Textarea</label
            >
            <textarea
              class="input text--body text--body_16"
              id="textarea"
              name="textarea"
              placeholder="Enter something into me"
            ></textarea>
          </div>
          <div class="inputField">
            <label for="input" class="text--label text--label_16"
              >Input Diasbled
            </label>
            <input
              type="text"
              class="input text--body text--body_16 disabled"
              id="input"
              name="input"
              placeholder="Enter something into me"
              disabled
              value="Input diables"
            />
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar" id="myProgressBar"></div>
          <div class="progress-text" id="progressText">10%</div>
        </div>
        <div class="inputField">
          <input type="checkbox" class="checkbox" name="checkbox" />
          <label for="checkbox" class="text--label text--label_16"
            >checkbox</label
          >
        </div>
        <div class="inputField">
          <input type="checkbox" class="checkbox" name="checkbox" />
          <label for="checkbox" class="text--label text--label_16"
            >checkbox</label
          >
        </div>
        <div class="inputField">
          <input type="checkbox" class="checkbox" name="checkbox" />
          <label for="checkbox" class="text--label text--label_16"
            >checkbox</label
          >
        </div>
        <div class="inputField">
          <input type="checkbox" class="checkbox" name="checkbox" />
          <label for="checkbox" class="text--label text--label_16"
            >checkbox</label
          >
        </div>
      </form>
    </div>
  </body>
</html>
