<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông báo</title>
    <link rel="stylesheet" href="../css/typography.css" />
    <link rel="stylesheet" href="../css/spacing.css" />
    <link rel="stylesheet" href="../css/thongBao.css" />
  </head>
  <body>
    <div class="thongBao">
      <div class="thongBao--iconBox">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="thongBao--icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </div>
      <div class="thongBao--noiDung">
        <h3 class="thongBao--noiDung-tieuDe heading heading--3">
          Bạn đã thêm đề tài mới thành công
        </h3>
        <p class="thongBao--noiDung-ghiChu text-body text--body_16">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, explicabo?
        </p>
      </div>
    </div>
    <!-- Thông báo thất bại  -->
    <div class="thongBao thongBao_thatBai test">
      <div class="thongBao--iconBox">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="thongBao--icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </div>
      <div class="thongBao--noiDung">
        <h3 class="thongBao--noiDung-tieuDe heading heading--3">
          Bạn đã thêm đề tài mới thành công
        </h3>
        <p class="thongBao--noiDung-ghiChu text-body text--body_16">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, explicabo?
        </p>
      </div>
    </div>
  </body>
</html>
