<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trượt xuống</title>
    <link rel="stylesheet" href="../css/truotXuong.css" />
    <link rel="stylesheet" href="../css/typography.css" />
    <link rel="stylesheet" href="../css/danhSachDeTai.css" />
    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="../css/spacing.css" />
  </head>
  <body>
    <div class="truotXuong active">
      <div class="truotXuong--tieuDe">
        <h3 class="heading heading--4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor,
          corrupti.
        </h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="truotXuong--icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"
          />
        </svg>
      </div>
      <div class="truotXuong--noiDung">
        <div class="tieuDe grid">
          <h3 class="heading heading--5 col-1">STT</h3>
          <h3 class="heading heading--5 col-2 text-center">Mã số sinh viên</h3>
          <h3 class="heading heading--5 col-2 text-center">Họ tên</h3>
          <h3 class="heading heading--5 col-1 text-center">Mã đồ án</h3>
          <h3 class="heading heading--5 col-2 text-center">
            Tiến độ hoàn thành
          </h3>
          <h3 class="heading heading--5 col-2 text-center">Điểm giữa kỳ</h3>
          <h3 class="heading heading--5 col-2 text-center">Điểm cuối kỳ</h3>
        </div>
        <div class="noiDung">
          <div class="noiDung--thongTin grid">
            <h3 class="heading heading--5 col-1">1</h3>
            <h3 class="heading heading--5 col-2 text-center">20113401</h3>
            <h3 class="heading heading--5 col-2 text-center">
              Nguyễn Tuấn Kiệt
            </h3>
            <h3 class="heading heading--5 col-1 text-center">951</h3>
            <h3 class="heading heading--5 col-2 text-center">100%</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
          </div>
          <div class="noiDung--thongTin grid">
            <h3 class="heading heading--5 col-1">1</h3>
            <h3 class="heading heading--5 col-2 text-center">20113401</h3>
            <h3 class="heading heading--5 col-2 text-center">
              Nguyễn Tuấn Kiệt
            </h3>
            <h3 class="heading heading--5 col-1 text-center">951</h3>
            <h3 class="heading heading--5 col-2 text-center">100%</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
          </div>
          <div class="noiDung--thongTin grid">
            <h3 class="heading heading--5 col-1">1</h3>
            <h3 class="heading heading--5 col-2 text-center">20113401</h3>
            <h3 class="heading heading--5 col-2 text-center">
              Nguyễn Tuấn Kiệt
            </h3>
            <h3 class="heading heading--5 col-1 text-center">951</h3>
            <h3 class="heading heading--5 col-2 text-center">100%</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
          </div>
          <div class="noiDung--thongTin grid">
            <h3 class="heading heading--5 col-1">1</h3>
            <h3 class="heading heading--5 col-2 text-center">20113401</h3>
            <h3 class="heading heading--5 col-2 text-center">
              Nguyễn Tuấn Kiệt
            </h3>
            <h3 class="heading heading--5 col-1 text-center">951</h3>
            <h3 class="heading heading--5 col-2 text-center">100%</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
            <h3 class="heading heading--5 col-2 text-center">10</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
