<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography</title>
    <link rel="stylesheet" href="../css/typography.css" />
    <link rel="stylesheet" href="../css//spacing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="typography m-64">
      <h1 class="heading heading--1">Heading 1</h1>
      <h2 class="heading heading--2">Heading 2</h2>
      <h3 class="heading heading--3">Heading 3</h3>
      <h4 class="heading heading--4">Heading 4</h4>
      <h5 class="heading heading--5">Heading 5</h5>
    </div>
    <div class="bodys m-64">
      <h1 class="heading heading--4">Body text font</h1>
      <div class="text--body text--body_16">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eos
        qui culpa asperiores incidunt, sapiente cum delectus nihil, aliquid
        neque sint perferendis consequuntur sed dignissimos quia quidem? Dolor,
        eveniet at?
      </div>
      <div class="text--body text--body_16_bold">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eos
        qui culpa asperiores incidunt, sapiente cum delectus nihil, aliquid
        neque sint perferendis consequuntur sed dignissimos quia quidem? Dolor,
        eveniet at?
      </div>
      <div class="text--body text--body_14">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eos
        qui culpa asperiores incidunt, sapiente cum delectus nihil, aliquid
        neque sint perferendis consequuntur sed dignissimos quia quidem? Dolor,
        eveniet at?
      </div>
      <div class="text--body text--body_14_bold">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eos
        qui culpa asperiores incidunt, sapiente cum delectus nihil, aliquid
        neque sint perferendis consequuntur sed dignissimos quia quidem? Dolor,
        eveniet at?
      </div>
      <div class="text--body text--body_12">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eos
        qui culpa asperiores incidunt, sapiente cum delectus nihil, aliquid
        neque sint perferendis consequuntur sed dignissimos quia quidem? Dolor,
        eveniet at?
      </div>
      <div class="text--body text--body_12_bold">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eos
        qui culpa asperiores incidunt, sapiente cum delectus nihil, aliquid
        neque sint perferendis consequuntur sed dignissimos quia quidem? Dolor,
        eveniet at?
      </div>
    </div>
    <div class="lables m-64">
      <div class="text--label text--label_20">Label 20</div>
      <div class="text--label text--label_20_bold">Label 20</div>
      <div class="text--label text--label_16">Label 16</div>
      <div class="text--label text--label_16_bold">Label 16</div>
      <div class="text--label text--label_14">Label 14</div>
      <div class="text--label text--label_14_bold">Label 14</div>
    </div>
  </body>
</html>
