<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xác nhận</title>
    <link rel="stylesheet" href="../css/typography.css" />
    <link rel="stylesheet" href="../css/spacing.css" />
    <link rel="stylesheet" href="../css/xacNhan.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
  </head>
  <body>
    <div class="xacNhan">
      <h1 class="heading heading--3">Bạn có chắc muốn đăng ký đề tài này</h1>
      <form action="" class="form">
        <div class="inputFields">
          <div class="inputField">
            <label for="maSinhVien" class="heading heading--4"
              >Mã sinh viên</label
            >
            <input type="text" class="input input_nhap" id="maSinhVien" />
          </div>
          <div class="inputField">
            <label for="maSinhVien" class="heading heading--4">Nội dung</label>
            <textarea
              type="text"
              class="input input_nhap"
              id="maSinhVien"
            ></textarea>
          </div>
        </div>
      </form>
      <div class="buttons full">
        <button class="btn btn--secondary center">Hủy</button>
        <button class="btn btn--primary center">Đồng ý</button>
      </div>
    </div>
  </body>
</html>
